@font-face {
    src: url("../fonts/Inconsolata/Inconsolata-Bold.ttf");
    font-family: "Inconsolata Bold";
}

@font-face {
    src: url("../fonts/orkney/Orkney Regular.ttf");
    font-family: "Orkney";
}
