@import "fonts.css";

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Orkney", sans-serif !important;
}

#home > div:first-child {
    background-image: url("../img/landing/landing.001.webp");
    height: 100vh;
    background-size: cover;
}

h1:not(.header-title) {
    margin-top: -1em !important;
}

.header-title {
    color: #fff;
    background-color: transparent;
    border: 5px solid #fff !important;
    border-radius: 10px;
    padding: 20px !important;
    font-family: "Avenir Next Condensed", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.header-subtitle {
    font-size: 1em !important;
}

#skills .card {
    height: 150px;
}
#skills .card.alternate {
    background-color: #e5e5e5;
}
#skills .card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills .description {
    font-size: 0.8em;
}

.description {
    text-align: justify;
}

.ui.card {
    width: 500px;
}

i.icon.content::before {
    content: "\f0c9";
}

.card .header,
.card .description {
    padding-top: 10px;
}

#card-tools > div {
    padding-top: 0;
}

.ui.secondary.inverted.pointing.menu {
    border: none;
}

.ui.menu .item {
    padding: 16px 32px !important;
}
