@import "fonts.css";

* {
    scroll-behavior: smooth;     
}

body {
    scroll-behavior: smooth;  
    font-family: "Orkney", sans-serif !important;
}

#home > div:first-child {
    background-image: url("../img/landing/landing.001.jpeg");
    height: 100vh;
    background-size: cover;
}

h1:not(.header-title) {
    margin-top: -1em !important;
}

.img-lang {
    width: 20px;
    cursor: pointer;
}
 
.header-title {
    color: #fff;
    background-color: transparent;
    border: 5px solid #fff !important;
    border-radius: 10px;
    padding: 20px !important;
    font-family: "Avenir Next Condensed", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.header-subtitle {
    font-size: 1em !important;
}

#skills .card {
    height: 150px;
    padding: 20px !important;
}

.card.bg-blue {
    background-color: #2185D0;
    box-shadow: 0 5px 10px #2185D0;
    border: none !important;
}

.card.bg-blue .header,
.card.bg-blue .description {
    color: #fff !important;
}

#skills .description {
    font-size: 0.8em;
}

.description {
    text-align: justify;
}

.ui.card {
    width: 500px;
}

.social-network-project {
    width: 10%;
    height: auto;
}

i.icon.content::before {
    content: "\f0c9";
}

.card .header,
.card .description {
    padding-top: 10px;
}

#card-tools > div {
    padding-top: 0;
}

.ui.secondary.inverted.pointing.menu {
    border: none;
}